.listing {
    width: 100%;

    display: table;

    margin-bottom: 30px;
}

.image-container {
    width: 20%;
    height: max-content;

    display: table-cell;
    vertical-align: top;
}

.description-container {
    width: 80%;
    max-height: 300px;
    
    display: table-cell;
    vertical-align: top;
}

.yp-card {
    min-height: 245px;
    max-height: fit-content;
    margin-bottom: 30px;
    width: 70%;
}

.yp-card1 {
    /* min-height: 245px;
    max-height: fit-content; */
    /* margin-bottom: 30px; */
}

.yp-image {
    max-width: 200px;
    max-height: 200px;
    /* object-fit: cover; */
}

.comments-section {
    margin-left: 8px;
    margin-top: 8px;
}

p {
    margin-bottom: 30px;
}